.profile__edit-button {
  width: 18px;
  height: 18px;
  background-image: url(../../../images/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border: 1px solid #ffffff;
  background-size: 8px;
  transition: opacity 0.2s ease-in-out;
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
  margin: 0 17px 8px 0;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 619px) {
  .profile__edit-button {
    grid-column: none;
    grid-row: none;
    justify-self: start;
    margin: 0 20px 7px 19px;
    grid-area: edit-button;
  }
}

@media screen and (min-width: 918px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px;
    margin-right: 30px;
  }
}
