.header__logo {
  width: 104px;
  color: #ffffff;
  margin: 0 0 0 27px;
}

@media screen and (min-width: 619px) {
  .header__logo {
    margin-left: 0;
  }
}

@media screen and (min-width: 918px) {
  .header__logo {
    width: 142px;
  }
}
