.page {
  background-color: #000000;
  color: #ffffff;
}

.page__section {
  max-width: 1280px;
  padding: 0 19px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  width: 104px;
  color: #ffffff;
  margin-top: 28px;
}

.header__separator {
  width: 100%;
  border-bottom: 1px solid #545454;
  opacity: .7;
  margin-top: 32px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
}

.profile__title {
  margin: 22px 0 0;
  display: inline-block;
  text-align: center;
}

.profile__subtitle {
  margin: 14px 0 0;
  text-align: center;
}

.profile__edit-icon {
  background: url(./images/edit-icon.svg) no-repeat;
  width: 18px;
  height: 18px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  display: inline-block;
  margin-left: 10px;
}

.profile__add-button {
  width: 100%;
  height: 50px;
  margin-top: 36px;
}

.places {
  margin-top: 36px;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
