.popup__container {
  position: relative;
  width: 282px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 25px 22px;
}

@media screen and (min-width: 619px) {
  .popup__container {
    width: 430px;
    padding: 34px 36px 37px;
  }
}
