.profile {
  margin-top: 38px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px auto auto auto;
  grid-template-areas:
    ". avatar avatar ."
    "title title title title"
    "subtitle subtitle subtitle subtitle"
    "add add add add";
  justify-items: center;
}

@media screen and (min-width: 619px) {
  .profile {
    grid-template-columns: 120px minmax(min-content,max-content) auto 150px;
    grid-template-rows: auto auto;
    grid-template-areas:
      "avatar title edit-button add"
      "avatar subtitle subtitle add";
  }
}
