.popup__button {
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-family: 'Inter';
  border-radius: 2px;
  border: 0;
  margin: 45px 0 25px 0;
  transition: opacity 0.2s ease-in-out;
  width: 238px;
  height: 46px;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (min-width: 619px) {
  .popup__button {
    font-size: 18px;
    line-height: 22px;
    margin: 48px 0 37px 0;
    width: 358px;
    height: 50px;
  }
}
