.profile__subtitle {
  margin: 12px 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  grid-area: subtitle;
  max-width: 225px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 619px) {
  .profile__subtitle {
    margin-top: 8px;
    margin-left: 20px;
    justify-self: start;
    align-self: start;
    width: 100%;
  }
}

@media screen and (min-width: 918px) {
  .profile__subtitle {
    margin-left: 30px;
    font-size: 18px;
    line-height: 22px;
    max-width: 475px;
  }
}
