.profile__subtitle {
  margin: 14px 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .profile__subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .profile__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
