.profile__title {
  margin: 30px 0 0;
  font-size: 27px;
  line-height: 32px;
  font-weight: 500;
  grid-area: title;
  max-width: 190px;
}

@media screen and (min-width: 619px) {
  .profile__title {
    margin: 0 0 0 20px;
    justify-self: start;
    align-self: end;
    max-width: 100%;
  }
}

@media screen and (min-width: 918px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    margin-left: 30px;
  }
}
