.profile__title {
  margin: 22px 0 0;
  display: inline-block;
  text-align: center;
  font-size: 27px;
  line-height: 33px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .profile__title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
  }
}
