.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh-120px);
  margin-top: 120px;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 999;
}
