.profile__add-button {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-image: url(../../../images/add-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-size: 16px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  grid-area: add;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 619px) {
  .profile__add-button {
    margin-top: 0;
    align-self: center;
  }
}

@media screen and (min-width: 918px) {
  .profile__add-button {
    background-size: 22px;
  }
}
