.cards__status {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/disable-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  transition: opacity 0.2s ease-in-out;
  flex-shrink: 0;
  border: 0;
  padding: 0;
}

.cards__status:hover {
  opacity: .5;
  cursor: pointer;
}
