.popup__close-button {
  position: absolute;
  right: 0;
  top: -36px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 619px) {
  .popup__close-button {
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
  }
}
